[mysqld]
# Allow users to create functions on the database
log-bin-trust-function-creators=1

# Raise the pool size for bigger memory workloads
# innodb_buffer_pool_size = 2G

# Make table names great again (case-insensitive, will be stored lowercase on disk but lookup is case-insensitive)
# lower_case_table_names = 1